<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p> I'm Cavin Digital Assistant, I can help you with the following options..</p>
    <p>Azure Devops Demo.</p>
    <p>IIY Meeting.</p>
    <ul class="actions">
      <li><a href="/who" class="button scrolly">Learn more</a></li>
    </ul>
  </div>
</section>
